.DS_S*
__pycache__/
audio_utils.py
data_utils.py
*_utils.py.*
*.py.*
*.pyc
*.pyc.*
tmp.wav
data/**/*.wav
data/**/*.png
!data/audio/secrets/secret*.wav
!data/audio/secrets/plain/plain*.wav
!data/audio/secrets/plain/plain_05.png
!data/audio/secrets/plain/secret_05.wav
!Homework03_utils.pyc
